Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: local
  hooks:

  - id: pylint
    name: pylint
    entry: pylint
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_fleur/__init__.py
      )$
    pass_filenames: false

Add test for Fleurinpmodifier with included xml files
  tests/conftest.py
  tests/data/test_fleurinpmodifier.py
  tests/data/test_fleurinpmodifier/test_fleurinp_modifier_included_files.xml
  tests/data/test_fleurinpmodifier/test_fleurinp_modifier_regression.xml
  tests/files/included_xml_files/inp.xml
  tests/files/included_xml_files/kpts.xml
  tests/files/included_xml_files/sym.xml
Due: pylint

Make TIME LIMIT detection stronger
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

Fix tests
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/dos.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Fix tests
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/dos.py
  aiida_fleur/workflows/initial_cls.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Fix tests
  aiida_fleur/workflows/initial_cls.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Make SCF input namespace optional
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Fix the check if scf input was given
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Add more conversions from old usage of modification methods and new ones
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Improve _handle_time_limits befaviour regarding reusing cdn
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Improve error handlers for FleurCalculation
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Update docs
  docs/source/user_guide/workflows/code/dmi_parameters.py
  docs/source/user_guide/workflows/code/dmi_wc_submission.py
  docs/source/user_guide/workflows/code/mae_parameters.py
  docs/source/user_guide/workflows/code/mae_wc_submission.py
  docs/source/user_guide/workflows/code/scf_parameters.py
  docs/source/user_guide/workflows/code/scf_wc_submission.py
  docs/source/user_guide/workflows/code/ssdisp_parameters.py
  docs/source/user_guide/workflows/code/ssdisp_wc_submission.py
Due: none

Fixes for last commit
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Adjust to new masci-tools pre-release version
  setup.json
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
Due: version-number

Reenable python 3.6 testing
  .github/workflows/ci.yml
Due: none

Add one more deprecation layer for a changed argument name in fleurinpmodifier. set_nmmpmat argument occStates was renamed to state_occupations
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Remove references to xml_util in docs
  README.md
  aiida_fleur/calculation/fleurinputgen.py
  docs/code.rst
  docs/source/module_guide/tools.rst
  docs/source/user_guide/calculations/fleurcode_plugin.rst
  tests/conftest.py
Due: pylint

Adapt functions still using xml_util to use masc-tools equivalents instead extract_corelevels is less fault tolerant for now since the parser_warnings would need to be adapted
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/tools/extract_corelevels.py
  aiida_fleur/tools/io_routines.py
  tests/conftest.py
  tests/data/test_fleurinpmodifier.py
  tests/tools/test_io_routines.py
Due: pylint

Delete xml_util and set_nmmpmat and the corresponding tests
  aiida_fleur/tools/set_nmmpmat.py
  aiida_fleur/tools/xml_util.py
  tests/tools/test_set_nmmpmat.py
  tests/tools/test_set_nmmpmat/test_set_nmmpmat_file.txt
  tests/tools/test_set_nmmpmat/test_set_nmmpmat_file_get_wigner_matrix.txt
  tests/tools/test_set_nmmpmat/test_set_nmmpmat_nofile.txt
  tests/tools/test_xml_util.py
Due: pylint

Return implementation of OMP_NUM_THREADS
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Improve error messages for Fleur_inputgenParser
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/parsers/fleur_inputgen.py
Due: pylint

Fix format
  aiida_fleur/parsers/fleur_inputgen.py
Due: pylint

Add another missed sneaky renamed positional argument in the FleurinpModifier, that breaks when the modifying function is specified via the inpxml_changes
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Adapt parser tests to masci-tools 0.4.8-dev4. Attributes labeled string, which should be floats are now correctly handled for versions before MaX5
  setup.json
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
  tests/parsers/test_inpgen_parser/test_inpgen_parser_default.yml
Due: version-number

Add functions to construct FleurinpData from a given FolderData/RemoteData. This makes it easier to uniformly support included xml files
  aiida_fleur/data/fleurinp.py
  tests/data/test_fleurinp.py
Due: pylint

Use new get_fleurinp_from_remote_data in scf workchain. Also make use of add_task_list method on FleurinpModifier to simplify change_fleurinp further
  aiida_fleur/workflows/scf.py
  setup.json
Due: pylint, version-number

Replace code snippet for generating FleurinpData from Remote by the now available function for that
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Fix typo in docstrings
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Some small changes necessary for aiida-core 2.0
  aiida_fleur/data/fleurinp.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/banddos.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Correct warning in fleurinpmodifier about direct file manipulation it was shown unnecessarily
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Create python-publish.yml file
  .github/workflows/python-publish.yml
Due: none

Correct lookup of max_wallclock_seconds in options in the _handle_time_limits error handler. It is not located in the resource key but in the top level of the options dict
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Change the label indicating fixed atoms
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/relax.py
Due: pylint

Change docs requirements, delete rtd_requirements_aiida
  docs/requirements_for_rtd.txt
Due: none

Add on previous commit
  docs/requirements_for_rtd_aiida.txt
Due: none

Implement more options for specifying kpoints for band and DOS calculations:
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/xml_aiida_modifiers.py
  aiida_fleur/workflows/banddos.py
Due: pylint

Change names of corehole and initial_cls workchains
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/tools/data_handling.py
  aiida_fleur/tools/plot/fleur.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/initial_cls.py
  setup.json
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
  tests/workflows/test_corehole_workchain.py
  tests/workflows/test_initial_cls_workchain.py
Due: pylint, version-number

Update masci-tools requirements and adapt fleur parser tests to the mode entries that were added
  setup.json
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
Due: version-number

Update README and docs front page
  README.md
  docs/b_code
  docs/source/images/Logo-JLVMD.png
  docs/source/images/MAX-orizz.eps
  docs/source/images/MAX-orizz.jpeg
  docs/source/images/MAX-orizz.png
  docs/source/images/MaX.png
  docs/source/index.rst
Due: none

Fix precommit issues and minor bugs in strain workchain
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/strain.py
Due: pylint

Also code cover tests, resize logos
  README.md
  tests/run_all_cov.sh
  tests/run_all_cov_show.sh
Due: none
