Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Add absolute total energy output to ConvWCs
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/ssdisp_conv.py
Due: pylint

Add labels for sub-SCF workchains
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/ssdisp_conv.py
Due: pylint

Add first implemetation of a command line interface(CLI)
  aiida_fleur/cmdline/calculations/__init__.py
  aiida_fleur/cmdline/calculations/fleur.py
  aiida_fleur/cmdline/calculations/inpgen.py
  aiida_fleur/cmdline/commands/fleurinpdata.py
  aiida_fleur/cmdline/data/__init__.py
  aiida_fleur/cmdline/data/fleurinp.py
  aiida_fleur/cmdline/data/parameters.py
  aiida_fleur/cmdline/data/structure.py
  aiida_fleur/cmdline/util/__init__.py
  aiida_fleur/cmdline/util/options.py
  aiida_fleur/cmdline/visualization/__init__.py
  aiida_fleur/cmdline/workflows/__init__.py
  aiida_fleur/cmdline/workflows/scf.py
  aiida_fleur/cmdline/workflows/workchains.py
  setup.json
Due: pylint, version-number

Make pre-commit work
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/ssdisp_conv.py
Due: pylint

Add the typecheck of settings, fixes #97
  aiida_fleur/tools/common_fleur_wf.py
Due: pylint

Make final scf in relax wc work with restarts
  aiida_fleur/workflows/base_relax.py
  aiida_fleur/workflows/relax.py
Due: pylint

Switch of regression tests on CI, add dep PyCifRW
  setup.json
  tests/conftest.py
Due: pylint, version-number

Do not populate defaults for final scf input
  aiida_fleur/workflows/relax.py
Due: pylint

Add kpoints_distance to scf wf_para
  aiida_fleur/tools/create_kpoints_from_distance.py
  aiida_fleur/tools/dict_util.py
  aiida_fleur/tools/merge_parameter.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/scf.py
  tests/tools/test_create_kpoints_from_distance.py
Due: pylint

Fix bug in relax introduced by final_scf include
  aiida_fleur/tools/dict_util.py
  aiida_fleur/workflows/relax.py
Due: pylint

Redesign interface from create_kpoints_from_distance
  aiida_fleur/tools/create_kpoints_from_distance.py
  aiida_fleur/workflows/scf.py
  tests/tools/test_create_kpoints_from_distance.py
Due: pylint

Prepare for release v.1.1.2
  AUTHORS.txt
  CHANGELOG.md
  aiida_fleur/__init__.py
  docs/source/user_guide/workflows/dos_band_wc.rst
  setup.json
Due: pylint, version-number

Reduce bravais matrix digits from 10 to 9
  aiida_fleur/calculation/fleurinputgen.py
Due: pylint

Update inpgen tests, work again
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/JUDFT_WARN_ONLY
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/_scheduler-stderr.txt
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/_scheduler-stdout.txt
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/cdn1
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/inp.xml
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/juDFT_times.json
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/out.error
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/out.xml
  tests/calculation/back2_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/shell.out
  tests/calculation/back2_data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/_scheduler-stderr.txt
  tests/calculation/back2_data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/_scheduler-stdout.txt
  tests/calculation/back2_data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/aiida.in
  tests/calculation/back2_data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/out.error
  tests/calculation/back2_data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/shell.out
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/FleurInputSchema.xsd
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/_scheduler-stderr.txt
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/_scheduler-stdout.txt
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/aiida.in
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/inp.xml
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/out
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/out.error
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/shell.out
  tests/calculation/data_dir/mock-inpgen-e6d39114b2c72f4dfd55c25b7883e05e/struct.xsf
  tests/calculation/test_inpgen.py
Due: pylint

Make PyPi show README.md and loose masci-tools dep
  setup.json
  setup.py
Due: pylint, version-number

Introduce cli launch command
  aiida_fleur/cmdline/__init__.py
  aiida_fleur/cmdline/calculations/__init__.py
  aiida_fleur/cmdline/calculations/inpgen.py
  aiida_fleur/cmdline/data/fleurinp.py
  aiida_fleur/cmdline/data/structure.py
  aiida_fleur/cmdline/launch/__init__.py
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/list/__init__.py
  aiida_fleur/cmdline/util/defaults.py
  aiida_fleur/cmdline/util/options.py
  aiida_fleur/cmdline/util/types.py
  aiida_fleur/cmdline/util/utils.py
  aiida_fleur/cmdline/workflows/__init__.py
  aiida_fleur/cmdline/workflows/workchains.py
  aiida_fleur/tools/dict_util.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/ssdisp_conv.py
  tests/tools/test_dict_util.py
Due: pylint

Minor bugfixes of CLI from previous commit
  aiida_fleur/cmdline/launch/launch.py
Due: pylint

Bugfix in base_relax, CLI structure type and launch
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/util/types.py
  aiida_fleur/workflows/base_relax.py
Due: pylint

Fix small bug in cli type and launch
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/util/types.py
Due: pylint

Add cmdline launch commands for workflows
  aiida_fleur/cmdline/__init__.py
  aiida_fleur/cmdline/data/fleurinp.py
  aiida_fleur/cmdline/data/structure.py
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/util/defaults.py
  aiida_fleur/cmdline/util/options.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/initial_cls.py
  tests/.aiida/config.json
  tests/cmdline/conftest.py
  tests/cmdline/data/__init__.py
  tests/cmdline/launch/__init__.py
  tests/cmdline/launch/test_launch.py
  tests/cmdline/test_base_all_commands.py
  tests/cmdline/visualization/__init__.py
  tests/cmdline/visualization/test_plot.py
  tests/cmdline/workflows/__init__.py
  tests/conftest.py
  tests/workflows_regression_manually.py
Due: pylint

Make cmdline work but no bash completion and cyclic imports
  aiida_fleur/cmdline/__init__.py
  aiida_fleur/cmdline/data/__init__.py
  aiida_fleur/cmdline/workflows/__init__.py
Due: pylint

Get rid of cyclic imports in cmdline
  aiida_fleur/cmdline/__init__.py
  aiida_fleur/cmdline/data/__init__.py
  aiida_fleur/cmdline/launch/__init__.py
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/visualization/__init__.py
  aiida_fleur/cmdline/workflows/__init__.py
Due: pylint

Add launch cmds for wcs: dmi ssdisp banddos
  .gitignore
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/workflows/banddos.py
  tests/cmdline/launch/test_launch.py
Due: pylint

Update README badges, since were outdated
  README.md
Due: none

Update README CLI, auto create and upload codecov report
  .github/workflows/ci.yml
  README.md
  aiida_fleur/cmdline/__init__.py
  tests/codecov.yml
  tests/coverage.svg
  tests/run_all_cov_show.sh
Due: pylint

Correct cov report location delete yml and pylint badge
  .github/workflows/ci.yml
  tests/.coveragerc
  tests/codecov.yml
  tests/pylint.svg
Due: none

Cleanup old/legacy workchains, add further cmdline tests
  aiida_fleur/cmdline/data/fleurinp.py
  aiida_fleur/cmdline/util/types.py
  aiida_fleur/workflows/b_corehole.py.legacy
  aiida_fleur/workflows/band.py
  aiida_fleur/workflows/band2.py.legacy
  aiida_fleur/workflows/corelevel.py.legacy
  aiida_fleur/workflows/delta.py
  aiida_fleur/workflows/delta_split.py.legacy
  tests/cmdline/conftest.py
  tests/cmdline/data/test_fleurinp.py
  tests/cmdline/data/test_parameters.py
  tests/cmdline/data/test_structure.py
  tests/cmdline/test_types.py
  tests/conftest.py
Due: pylint

Fix tests, old wc had to be removed
  aiida_fleur/cmdline/data/parameters.py
  aiida_fleur/cmdline/data/structure.py
  tests/cmdline/data/test_parameters.py
  tests/cmdline/data/test_structure.py
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
Due: pylint

Fix docs build after wc remove
  docs/source/module_guide/code.rst
  docs/source/user_guide/workflows/dos_band_wc.rst
  docs/source/user_guide/workflows/wc_index.rst
Due: none

Add further cmdline tests
  tests/cmdline/launch/test_launch.py
  tests/cmdline/visualization/test_plot.py
  tests/cmdline/workflows/test_worklow_cmd.py
  tests/files/exports/fleur_scf_fleurinp_Si.tar.gz
Due: pylint

Add further cmdline tests, code cleanup
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/tools/check_existence.py
  aiida_fleur/tools/common_aiida.py
  aiida_fleur/workflows/dos.py
  aiida_fleur/workflows/optimize_para.py
  tests/cmdline/visualization/test_plot.py
  tests/cmdline/workflows/test_worklow_cmd.py
  tests/tools/test_StructureData_util.py
  tests/tools/test_common_aiida.py
  tests/tools/test_graph_fleur.py
Due: pylint

Enforce consistent units, bohr_a with fleur
  CHANGELOG.md
  aiida_fleur/__init__.py
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/common/constants.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/xml_util.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/eos.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/ssdisp.py
  setup.json
  tests/calculation/test_inpgen.py
  tests/conftest.py
  tests/parsers/test_fleur_parser.py
  tests/tools/test_StructureData_util.py
  tests/tools/test_common_aiida.py
Due: pylint, version-number

Parse total magnetic moment of the cell now and add to scf and relax wc outdicts.
  aiida_fleur/cmdline/util/options.py
  aiida_fleur/cmdline/workflows/__init__.py
  aiida_fleur/common/constants.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/relax.py
  tests/cmdline/conftest.py
  tests/cmdline/workflows/test_worklow_cmd.py
Due: pylint

Update parser version in tests
  tests/parsers/test_fleur_parser.py
Due: pylint

Bugfix mag mom parser xpath
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/relax.py
Due: pylint

Fix fleur parser, from previous commits
  aiida_fleur/parsers/fleur.py
Due: pylint

Again fleur parser bugfix...
  aiida_fleur/parsers/fleur.py
Due: pylint

Tipo correction
  aiida_fleur/parsers/fleur.py
Due: pylint

Further tipos
  aiida_fleur/parsers/fleur.py
Due: pylint

Add fleur parser test for relax, skip cmd_plot if >v1.5.0
  tests/cmdline/visualization/test_plot.py
  tests/files/outxml/all_test/Fe_relax_out.xml
  tests/files/relaxxml/Fe_relax.xml
  tests/parsers/test_fleur_parser.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
