Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: local
  hooks:

  - id: pylint
    name: pylint
    entry: pylint
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_fleur/__init__.py
      )$
    pass_filenames: false

Revert "Fix delete_tag call in MAE"
  aiida_fleur/workflows/mae.py
Due: pylint

Revert "Add possibilty to use symmetries for the reference"
  aiida_fleur/workflows/mae.py
Due: pylint

Bugfix in `write_inpgen_file_aiida_struct`
  aiida_fleur/calculation/fleurinputgen.py
Due: pylint

Fix wrong argument names in plot_fleur
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Make find_nested_process work for newer aiida versions
  aiida_fleur/tools/common_fleur_wf.py
Due: pylint

Change default of show_dict to `False`
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Reapply add possibilty to use symmetries for the reference
  aiida_fleur/workflows/mae.py
Due: pylint

Reapply Fix delete_tag call in MAE
  aiida_fleur/workflows/mae.py
Due: pylint

Depricate removing symmetries MAE
  aiida_fleur/workflows/mae.py
Due: pylint

Remove/unify configuration files. Added `pyproject.toml`
  .pre-commit-config.yaml
  .pylintrc
  .style.yapf
  .travis.yml
  MANIFEST.in
  aiida_fleur/tools/common_fleur_wf.py
  pyproject.toml
  pytest.ini
  tests/config.yml
  tests/parsers/test_fleur_parser.py
  tests/tools/test_extract_corelevels.py
  tests/tools/test_io_routines.py
  tests/tools/test_plot_fleur.py
Due: pylint

Add pylint disable
  aiida_fleur/tools/common_fleur_wf.py
Due: pylint

Adjust `import_with_migrate` to new changes in develop branch of aiida-core
  tests/cmdline/conftest.py
Due: pylint

Run all tests even if one fails
  .github/workflows/ci.yml
Due: none

Correct disable comment
  aiida_fleur/tools/common_fleur_wf.py
Due: pylint

Add pyupgrade hook
  .pre-commit-config.yaml
Due: none

Exclude docs and examples
  .pre-commit-config.yaml
Due: none

Remove fix-encoding-pragma hook and apply more format fixes
  .pre-commit-config.yaml
  aiida_fleur/parsers/fleur_inputgen.py
  aiida_fleur/tools/common_fleur_wf_util.py
  aiida_fleur/tools/extract_corelevels.py
  aiida_fleur/tools/merge_parameter.py
  aiida_fleur/tools/queue_defaults.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/ssdisp_conv.py
  tests/tools/test_common_aiida.py
  tests/workflows/test_initial_cls_workchain.py
Due: pylint

Remove six imports
  aiida_fleur/calculation/fleur.py
  aiida_fleur/common/mapping.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/tools/common_aiida.py
  aiida_fleur/tools/common_fleur_wf_util.py
  aiida_fleur/tools/element_econfig_list.py
  aiida_fleur/workflows/create_magnetic_film.py
  aiida_fleur/workflows/dos.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/optimize_para.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
  aiida_fleur/workflows/strain.py
Due: pylint

Remove unused .ci folder
  .ci/setup_profiles.sh
  .ci/test_script.sh
Due: none

Cleanup `FleurCalculation`
  aiida_fleur/calculation/fleur.py
Due: pylint

Update pyproject.toml
  pyproject.toml
Due: none

More cleanup in `FleurCalculation`
  aiida_fleur/calculation/fleur.py
Due: pylint

Include changelog in docs
  docs/source/conf.py
  docs/source/index.rst
  docs/source/reference/_changelog.md
  docs/source/reference/index.rst
  setup.json
Due: version-number

Remove requirements_for_rtd.txt since it was outdated and contains nothing that is not covered by the docs extra
  .readthedocs.yml
  docs/requirements_for_rtd.txt
Due: none

Add missing header
  CHANGELOG.md
Due: none

Remove markupsafe constraint since it was fixed for aiida-core in 1.6.7
  setup.json
Due: version-number

Correct way to include theme_overrides.css to be the same as in masci-tools
  docs/source/conf.py
Due: none

Revert "Remove markupsafe constraint since it was fixed for aiida-core in 1.6.7"
  setup.json
Due: version-number

Fix for orbcontrol plotting function
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Fix in pre-commit config
  .pre-commit-config.yaml
Due: none

Simplify the handling of included files in FleurinpData
  aiida_fleur/data/fleurinp.py
Due: pylint

Remove outdated comments in FleurinpData
  aiida_fleur/data/fleurinp.py
Due: pylint

Try out combining multiple orbcontrol nodes into one plot
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Various fixes for last commit
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Move inserting None into total energies/distances for failed configurations ... into OrbControl workchain
  aiida_fleur/tools/plot/fleur.py
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

formatting and raise orbcontrol workflow version
  aiida_fleur/data/fleurinp.py
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Move bokeh dependency into actual extras section
  .github/workflows/ci.yml
  setup.json
Due: version-number

fix
  .github/workflows/ci.yml
Due: none

remove space
  .github/workflows/ci.yml
Due: none
