Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

BREAKING: Port name changes
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
Due: pylint

Raise workflow versions
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
Due: pylint

Keep provenance for fleurinp output of SCF workchain, when the workchain is started from a remote folder only
  aiida_fleur/data/fleurinp.py
  aiida_fleur/workflows/scf.py
Due: pylint

Fixes and add test for the provenance of the fleurinp output
  aiida_fleur/data/fleurinp.py
  tests/workflows/test_scf_workchain.py
Due: pylint

Keep provenance for fleurinp output of SCF workchain, when the workchain is started from a remote folder only
  aiida_fleur/workflows/scf.py
Due: pylint

UPdate gitignore
  .gitignore
Due: none

Update tests and remove usage of last_fleur_calc_output in relax workchain
  aiida_fleur/data/fleurinp.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/scf.py
  docs/source/user_guide/workflows/scf_wc.rst
  tests/workflows/test_banddos_workchain.py
  tests/workflows/test_dmi_workchain.py
  tests/workflows/test_mae_workchain.py
  tests/workflows/test_scf_workchain.py
  tests/workflows/test_ssdisp_workchain.py
Due: pylint

Rename fleurinpData to fleurinp
  aiida_fleur/calculation/fleur.py
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/parsers/fleur_inputgen.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/base_fleur.py
  aiida_fleur/workflows/cfcoeff.py
  aiida_fleur/workflows/initial_cls.py
  aiida_fleur/workflows/orbcontrol.py
  aiida_fleur/workflows/scf.py
  docs/source/user_guide/calculations/fleurcode_plugin.rst
  docs/source/user_guide/calculations/inpgen_plugin.rst
  tests/calculation/test_fleur.py
  tests/parsers/test_inpgen_parser.py
  tests/parsers/test_inpgen_parser/test_inpgen_parser_default.yml
  tests/tools/test_common_fleur_wf.py
  tests/workflows/test_base_fleur_workchain.py
Due: pylint

Fixes for tests
  tests/conftest.py
  tests/workflows/test_banddos_workchain.py
Due: pylint

adjust bravais matrix of smco5 structure in tests
  tests/conftest.py
Due: pylint

fix last commit
  tests/conftest.py
Due: pylint

Also round the final atom positions in the smco5 structure fixture
  tests/conftest.py
Due: pylint

Show more reports in cfcoeff and orbcontrol tests
  tests/workflows/test_cfcoeff_workchain.py
  tests/workflows/test_orbcontrol_workchain.py
Due: pylint

Run aiida-upgrade on aiida_fleur package
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/util/options.py
  aiida_fleur/cmdline/util/types.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/tools/create_kpoints_from_distance.py
  aiida_fleur/tools/data_handling.py
  aiida_fleur/tools/merge_parameter.py
  aiida_fleur/tools/read_cif_folder.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/base_relax.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/dos.py
  aiida_fleur/workflows/eos.py
  aiida_fleur/workflows/initial_cls.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/orbcontrol.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
  aiida_fleur/workflows/strain.py
Due: pylint

Update AiiDA dependency
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  pyproject.toml
Due: none

Move to flit and pyproject.toml as package configuration
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  MANIFEST.in
  README.md
  docs/source/devel_guide/dg_index.rst
  pyproject.toml
  setup.cfg
  setup.json
  setup.py
  utils/validate_version_consistency.py
Due: pylint, version-number

Upload matplotlib comparisons for failed tests
  .github/workflows/ci.yml
Due: none

fixes
  aiida_fleur/__init__.py
  docs/source/devel_guide/dg_index.rst
Due: pylint, version-number

Run aiida_upgrade on tests
  tests/conftest.py
  tests/tools/test_StructureData_util.py
  tests/tools/test_common_aiida.py
  tests/tools/test_common_fleur_wf.py
  tests/tools/test_create_kpoints_from_distance.py
  tests/workflows/test_base_fleur_workchain.py
  tests/workflows/test_corehole_workchain.py
  tests/workflows/test_create_magnetic_workchain.py
  tests/workflows/test_dmi_workchain.py
  tests/workflows/test_eos_workchain.py
  tests/workflows/test_initial_cls_workchain.py
  tests/workflows/test_mae_workchain.py
  tests/workflows/test_relax_workchain.py
  tests/workflows/test_scf_workchain.py
  tests/workflows/test_ssdisp_workchain.py
Due: pylint

formatting
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/workflows/scf.py
  tests/tools/test_StructureData_util.py
  tests/tools/test_common_fleur_wf.py
  tests/tools/test_create_kpoints_from_distance.py
  tests/workflows/test_base_fleur_workchain.py
  tests/workflows/test_corehole_workchain.py
  tests/workflows/test_dmi_workchain.py
  tests/workflows/test_mae_workchain.py
  tests/workflows/test_ssdisp_workchain.py
Due: pylint

Allow docs build to pass if the non-nitpicky mode passes
  .github/workflows/ci.yml
Due: none

formatting
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .pre-commit-config.yaml
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/workflows/scf.py
  tests/tools/test_StructureData_util.py
  tests/tools/test_common_fleur_wf.py
  tests/tools/test_create_kpoints_from_distance.py
  tests/workflows/test_corehole_workchain.py
  tests/workflows/test_dmi_workchain.py
  tests/workflows/test_mae_workchain.py
  tests/workflows/test_ssdisp_workchain.py
Due: pylint

Add a changelog entry for version 2
  CHANGELOG.md
Due: none

add pylint disable
  tests/cmdline/test_types.py
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
  tests/workflows/test_base_fleur_workchain.py
  tests/workflows/test_corehole_workchain.py
  tests/workflows/test_create_magnetic_workchain.py
  tests/workflows/test_initial_cls_workchain.py
  tests/workflows/test_relax_workchain.py
Due: pylint

update changelog
  CHANGELOG.md
Due: none

Rename getter methods of masci-tools in fleurinp
  aiida_fleur/data/fleurinp.py
  pyproject.toml
Due: pylint

Remove/adjust tests for expired deprecations
  tests/data/test_fleurinp.py
  tests/data/test_fleurinpmodifier.py
  tests/tools/test_StructureData_util.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
