Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Make sure that the Deprecationwarning is raised in get_tag
  tests/data/test_fleurinp.py
Due: pylint

Fix load_inpxml to raise a InputValidationError for non-validating input files
  aiida_fleur/data/fleurinp.py
Due: pylint

Fix for SCF workchain with forces. The forces are in a different format than before
  aiida_fleur/workflows/scf.py
Due: pylint

Fix analysis of forses in scf
  aiida_fleur/workflows/scf.py
Due: pylint

Split the xmltree back up into pieces after modifications by the fleurinpmodifier. This prevents problems with the relax.xml, when the modified fleurinpdata is used in a new FleurCalculation
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  setup.json
Due: pylint, version-number

Also use load_inpxml in show and validate in the Fleurinpmodifier
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Correct calls to _include_files in fleurinp. They will be replaced by load_inpxml in a separate PR
  aiida_fleur/data/fleurinp.py
Due: pylint

Bugfix in fleurinpmodifier. Forgot to set the n_mmp_mat file
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Fix forces criterion analysis scf
  aiida_fleur/workflows/scf.py
Due: pylint

Revert "Fix forces criterion analysis scf"
  aiida_fleur/workflows/scf.py
Due: pylint

Another fix for forces scf
  aiida_fleur/workflows/scf.py
Due: pylint

Another attempt to fix scf forces mode
  aiida_fleur/workflows/scf.py
Due: pylint

Raise masci-tools version requirement, since it contains a critical bugfix for the clear_xml function
  setup.json
Due: version-number

Adjust regression tests to masci-tools 0.4.6 and fix some new pylint warnings
  aiida_fleur/tools/element_econfig_list.py
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
  tests/tools/test_io_routines.py
Due: pylint

Fix a condition expression according to new parser
  aiida_fleur/workflows/relax.py
Due: pylint

Add all xml files from the fleurinp to the retrieve_list in FleurCalculations
  aiida_fleur/calculation/fleur.py
Due: pylint

Rename evSum attributes according to new parser
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Fix force theorem magnetic workchains
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Fix formatting
  aiida_fleur/workflows/dmi.py
Due: pylint

Fix handling unknown error from out.error
  aiida_fleur/parsers/fleur.py
Due: pylint

Set l_spav attribute to True in DMI WorkChain
  aiida_fleur/workflows/dmi.py
Due: pylint

Change l_spav -> spav
  aiida_fleur/workflows/dmi.py
Due: pylint

Adapt fleur parser tests to masci-tools 0.4.7
  setup.json
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
Due: version-number

Drop python 3.6 testing
  .github/workflows/ci.yml
Due: none

Update fleurinpdata documentation
  docs/source/user_guide/data/fleurinp_data.rst
Due: none

Make parser_info a public property
  aiida_fleur/data/fleurinp.py
  docs/source/user_guide/data/fleurinp_data.rst
  tests/data/test_fleurinp.py
Due: pylint

Adjust the tests for getter methods to make sure that files with the latnam definition of the bravais matrix or no kPointLists raise an error now
  tests/data/test_fleurinp.py
Due: pylint

Adjust name of fleur_mode for relaxations due to unification n the get_fleur_modes method
  aiida_fleur/calculation/fleur.py
Due: pylint

Replace internals of getter methods in fleurinp with getters in masci-tools
  aiida_fleur/data/fleurinp.py
  tests/data/test_fleurinp.py
Due: pylint

Allow get_kpoints_data to select by index of the set again
  aiida_fleur/data/fleurinp.py
  setup.json
Due: pylint, version-number

Small adjustments in docs
  docs/source/user_guide/data/fleurinp_data.rst
Due: none

Improve handling of TIME LIMIT failure
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/base_fleur.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Adapt set_kpointsdata to use the set_kpointlist function from masci_tools
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/xml_aiida_modifiers.py
Due: pylint

Prototype of subclassed Fleurinpmodifier. Now the XML modifying functions are used from the masci-tools library. Only modifying functions starting from aiida nodes stay in the aiida-fleur repository
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/xml_aiida_modifiers.py
Due: pylint

Fix docs
  aiida_fleur/data/fleurinpmodifier.py
  docs/source/conf.py
  docs/source/module_guide/code.rst
  docs/source/module_guide/tools.rst
  docs/source/user_guide/data/fleurinp_data.rst
Due: pylint

Add more DeprecationWarnings. All old usage should atleast show a DeprecationWarning now (except set_nkpts and set_kpath, since they are not yet reimplemented)
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/xml_aiida_modifiers.py
  tests/data/test_fleurinpmodifier.py
Due: pylint

Update fleurinpmodifier documentation
  docs/source/user_guide/data/fleurinp_modifier.rst
  docs/source/user_guide/data/images/registration_methods.png
Due: none

Add small regression test to make sure that the fleurinpmodifier produces a fleurinp with a modified inp.xml
  docs/source/user_guide/data/fleurinp_data.rst
  docs/source/user_guide/data/fleurinp_modifier.rst
  tests/data/test_fleurinpmodifier.py
  tests/data/test_fleurinpmodifier/test_fleurinp_modifier_regression.txt
Due: pylint

Adapt to newest masci-tools version and the modified way of injecting the extra functions and add modified deprecation warnings for delete_tag, delete_att and replace_tag
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Further fixes for documentation
  docs/source/user_guide/data/fleurinp_modifier.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
