Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: prospector, version-number

.pre-commit-config.yaml:

repos:

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files > 
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: local
  hooks:

  - id: prospector
    name: prospector
    entry: prospector
    types: [file, python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_fleur/__init__.py
      )$
    pass_filenames: false

further precommit changes, yapf is happy now
  aiida_fleur/calculation/fleur.py
  aiida_fleur/tests/calculation/test_inpgen.py
  aiida_fleur/tests/fleur_schema/__init__.py
  aiida_fleur/tests/old_todo/util/btest_extract_corelevels.py
  aiida_fleur/tests/workflows/test_corehole_workchain.py
  aiida_fleur/workflows/optimize_para.py
  aiida_fleur/workflows/relax.py
  examples/benchmarks/bench.py
  examples/old_workflowtests/old/test_scf.py
  examples/simple/Cu_bulk.py
  examples/submission/calculation_tests/test_submit_fleur_mpi.py
  examples/submission/fleur_specific_tests/test_NiO_ldauXML_fleur.py
  examples/submission/fleur_specific_tests/test_PTO_SOCXML_fleur.py
  examples/submission/workflow_tests/test_submit_band.py
Due: prospector

switched on precommit run in ci
  .github/workflows/ci.yml
Due: none

added time out to ci
  .github/workflows/ci.yml
Due: none

solved some issue with the docstrings, ci doc build command works now on my pc
  aiida_fleur/tools/StructureData_util.py
  docs/source/conf.py
Due: prospector

changed masci-tools version required and updated pre-commit versions
  setup.json
Due: version-number

Fix XInclude replacement for absolute path mode
  aiida_fleur/data/fleurinp.py
Due: prospector

Add pyhull as dependence in setup.json
  setup.json
Due: version-number

Correct errors found by Pylint, reduce six methods
  .pylintrc
  aiida_fleur/calculation/fleur.py
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/cmdline/commands/scf_wc.py
  aiida_fleur/cmdline/commands/workchains.py
  aiida_fleur/common/mapping.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tests/b_test_aiida_pytest_config.py
  aiida_fleur/tests/conftest.py
  aiida_fleur/tests/tools/test_StructureData_util.py
  aiida_fleur/tests/tools/test_common_aiida.py
  aiida_fleur/tests/tools/test_common_fleur_wf.py
  aiida_fleur/tests/tools/test_common_fleur_wf_util.py
  aiida_fleur/tests/tools/test_element_econfig_list.py
  aiida_fleur/tests/workflows/test_banddos_workchain.py
  aiida_fleur/tests/workflows/test_create_magnetic_workchain.py
  aiida_fleur/tests/workflows/test_mae_workchain.py
  aiida_fleur/tests/workflows/test_mae_workchain2.py
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/tools/check_existence.py
  aiida_fleur/tools/common_aiida.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/tools/common_fleur_wf_util.py
  aiida_fleur/tools/create_corehole.py
  aiida_fleur/tools/decide_ncore.py
  aiida_fleur/tools/extract_corelevels.py
  aiida_fleur/tools/plot/fleur.py
  aiida_fleur/tools/read_cif_folder.py
  aiida_fleur/tools/xml_util.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/eos.py
  aiida_fleur/workflows/initial_cls.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
Due: prospector

Attempt to fix CI docs build and pre-commit
  aiida_fleur/tests/tools/test_plot_fleur.py
  aiida_fleur/tools/merge_parameter.py
Due: prospector

Make Ci pre-commit work, small yapfs change
  aiida_fleur/tests/tools/test_plot_fleur.py
Due: prospector

Remove NULL characters from out.error file
  aiida_fleur/parsers/fleur.py
Due: prospector

Extend replacement of NULL character for strings
  aiida_fleur/parsers/fleur.py
Due: prospector

Replace type comparasion by isinstance
  aiida_fleur/parsers/fleur.py
Due: prospector

REVERT INPGEN2 support for release
  aiida_fleur/calculation/fleurinputgen.py
Due: prospector

REVERSED INPGEN2 support for release
  aiida_fleur/calculation/fleurinputgen.py
Due: prospector

:green_heart: Add pathkey to fleurinpData.open()
  aiida_fleur/data/fleurinp.py
Due: prospector

Reduce most warnings from pytest
  aiida_fleur/common/workchain/base/restart.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/common_aiida.py
  aiida_fleur/tools/io_routines.py
  aiida_fleur/workflows/scf.py
Due: prospector

:bug: Make fleurinpData handle files from nodes
  aiida_fleur/data/fleurinp.py
Due: prospector

Fix setting-by-atom-label xml methods
  aiida_fleur/tools/xml_util.py
Due: prospector

Add atom labels docs and update WC inputs info
  docs/source/user_guide/data/fleurinp_data.rst
  docs/source/user_guide/data/fleurinp_modifier.rst
  docs/source/user_guide/workflows/create_magnetic_wc.rst
  docs/source/user_guide/workflows/dmi_wc.rst
  docs/source/user_guide/workflows/eos_wc.rst
  docs/source/user_guide/workflows/mae_conv_wc.rst
  docs/source/user_guide/workflows/mae_wc.rst
Due: none

Accept 'relax' input without 'distance_suggestion'
  aiida_fleur/workflows/create_magnetic_film.py
  docs/source/user_guide/data/fleurinp_data.rst
Due: prospector

Update version number
  CHANGELOG.md
  STYLE_CONVENTION.txt
  aiida_fleur/__init__.py
  docs/source/user_guide/workflows/corehole_wc.rst
  docs/source/user_guide/workflows/dos_band_wc.rst
  docs/source/user_guide/workflows/initial_cls_wc.rst
  setup.json
Due: prospector, version-number

Update CHANGELOG prior to release
  CHANGELOG.md
Due: none

Remove warnings for xps workchains in docs
  docs/source/user_guide/workflows/corehole_wc.rst
  docs/source/user_guide/workflows/initial_cls_wc.rst
Due: none

Enforce correct setup of a kind_name
  aiida_fleur/calculation/fleurinputgen.py
Due: prospector

Update doc for CreateMagnetic
  docs/source/user_guide/workflows/code/create_magnetic_parameters.py
  docs/source/user_guide/workflows/create_magnetic_wc.rst
  docs/source/user_guide/workflows/images/create_magnetic_scheme.png
  docs/source/user_guide/workflows/images/create_magnetic_scheme_sym.png
Due: none

Add function to initialize or modify a n_mmp_mat file for LDA+U
  aiida_fleur/tests/files/inpxml/GaAsMultiForceXML/inp.xml
  aiida_fleur/tests/files/n_mmp_mat/n_mmp_mat_GaAsMultiForceXML
  aiida_fleur/tests/tools/test_set_nmmpmat.py
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector

Allow the modification of n_mmp_mat files via the FleurinpModifier
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tests/data/test_fleurinpmodifier.py
Due: prospector

Remove unnecessary check
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector

Add lda+u information to output node
  aiida_fleur/parsers/fleur.py
Due: prospector

Add error message when the n_mmp_mat file does not have the expected number of lines
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector

Add detection of ldau in fleur_get_modes
  aiida_fleur/data/fleurinp.py
Due: prospector

fix last commit
  aiida_fleur/data/fleurinp.py
Due: prospector

pre-commit run
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tests/data/test_fleurinpmodifier.py
  aiida_fleur/tests/files/inpxml/GaAsMultiForceXML/inp.xml
  aiida_fleur/tests/files/n_mmp_mat/n_mmp_mat_GaAsMultiForceXML
  aiida_fleur/tests/tools/test_set_nmmpmat.py
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector

Fix some pylint complaints
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector

Remove unnecessary import
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector

fix typos
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/set_nmmpmat.py
Due: prospector
