Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Add outfile from second stage of GaAsMultiForceXML test to test lda+U output parsing
  aiida_fleur/tests/files/outxml/all_test/GaAs_LDAU_out.xml
Due: none

Retrieve the right file for LDA+U with HDF
  aiida_fleur/calculation/fleur.py
Due: pylint

remove debug output
  aiida_fleur/tests/tools/test_set_nmmpmat.py
Due: pylint

Fix create_manual_slab_ase for complex films
  aiida_fleur/tests/tools/test_StructureData_util.py
  aiida_fleur/tools/StructureData_util.py
  docs/source/user_guide/workflows/create_magnetic_wc.rst
Due: pylint

Add aiida-testing fixtures for now
  setup.json
  tests/.aiida-testing-config.yml
  tests/calculation/back_data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/JUDFT_WARN_ONLY
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/JUDFT_WARN_ONLY
  tests/conftest.py
Due: pylint, version-number

Update dependencies for testing install
  setup.json
Due: version-number

Fix some more pylint complaints
  aiida_fleur/calculation/fleur.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Add existing aiida-testing release as dep
  .github/workflows/ci.yml
  setup.json
  tests/conftest.py
  tests/workflows/test_eos_workchain.py
  tests/workflows/test_scf_workchain.py
Due: pylint, version-number

Make CI work
  .github/workflows/ci.yml
  setup.json
Due: version-number

And one more fix
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Update tools.rst
  docs/source/module_guide/tools.rst
Due: none

Add validation function to check that the nmmp_mat file makes sense
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tests/tools/test_set_nmmpmat.py
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

pre-commit changes
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tests/tools/test_set_nmmpmat.py
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Fix typo
  aiida_fleur/tests/tools/test_set_nmmpmat.py
Due: pylint

Add n_mmp_mat file to local_copy_list if it exists in the retrieved folder
  aiida_fleur/calculation/fleur.py
Due: pylint

FIx for last commit
  aiida_fleur/calculation/fleur.py
Due: pylint

Add l_linmix and mixParam to get_inpxml_file_structure
  aiida_fleur/tests/tools/test_xml_util.py
  aiida_fleur/tools/xml_util.py
Due: pylint

Add unit of U and J to output dict
  aiida_fleur/parsers/fleur.py
Due: pylint

Add primitive handling of invalid elements error
  aiida_fleur/calculation/fleur.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Fix format
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Fix format again
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Or like this
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Cleanup formatting for n_mmp_mat file in set_nmmpmat
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Fix condition for copyying n_mmp_mat file from retrieved folder
  aiida_fleur/calculation/fleur.py
Due: pylint

Update fleurinp_modifier.rst
  docs/source/user_guide/data/fleurinp_modifier.rst
Due: none

Fix spin indexing in set_nmmpmat -I got it wrong: all matrices for spin up are stored behind each other after that all matrices for spin down
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Change docstring for validate_nmmpmat
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Update exit_codes.rst
  docs/source/user_guide/hints/exit_codes.rst
Due: none

Also move the added files in the tests directory to the right place
  tests/files/inpxml/GaAsMultiForceXML/inp.xml
  tests/files/n_mmp_mat/n_mmp_mat_GaAsMultiForceXML
  tests/files/outxml/all_test/GaAs_LDAU_out.xml
  tests/tools/test_set_nmmpmat.py
Due: pylint

And update path in test_set_nmmpmat
  tests/tools/test_set_nmmpmat.py
Due: pylint

Improve error messages in validate_nmmpmat and fix spin index in startRow
  aiida_fleur/tools/set_nmmpmat.py
Due: pylint

Make Aiida-testing dependency optional
  .github/workflows/ci.yml
  setup.json
  tests/calculation/test_fleur.py
  tests/calculation/test_inpgen.py
  tests/conftest.py
  tests/workflows/test_eos_workchain.py
  tests/workflows/test_relax_workchain.py
  tests/workflows/test_scf_workchain.py
Due: pylint, version-number

Fix link in CI script
  .github/workflows/ci.yml
  aiida_fleur/common/workchain/base/restart.py
  aiida_fleur/tools/common_fleur_wf.py
  tests/calculation/test_inpgen.py
  tests/conftest.py
  tests/workflows/test_eos_workchain.py
  tests/workflows/test_relax_workchain.py
  tests/workflows/test_scf_workchain.py
Due: pylint

:memo: Add documentation of xps worflows
  aiida_fleur/common/workchain/base/restart.py
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/scf.py
  docs/source/user_guide/workflows/code/corehole_parameters.py
  docs/source/user_guide/workflows/code/corehole_submission.py
  docs/source/user_guide/workflows/code/corehole_wc_outputnode.py
  docs/source/user_guide/workflows/code/initial_cls_parameters.py
  docs/source/user_guide/workflows/code/initial_cls_submission.py
  docs/source/user_guide/workflows/code/initial_cls_wc_outputnode.py
  docs/source/user_guide/workflows/corehole_wc.rst
  docs/source/user_guide/workflows/initial_cls_wc.rst
  docs/source/user_guide/workflows/wc_index.rst
Due: pylint

Add another sign of memory problem
  aiida_fleur/parsers/fleur.py
Due: pylint

Add 'only_even_MPI' input
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/base_fleur.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Fix cod formatting
  docs/source/user_guide/workflows/code/corehole_parameters.py
  docs/source/user_guide/workflows/code/corehole_submission.py
  docs/source/user_guide/workflows/code/corehole_wc_outputnode.py
  docs/source/user_guide/workflows/code/initial_cls_parameters.py
  docs/source/user_guide/workflows/code/initial_cls_submission.py
  docs/source/user_guide/workflows/code/initial_cls_wc_outputnode.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
