Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Format fixes
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/mae.py
Due: pylint

Revert accidental change
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Adjust Banddos workchain
  aiida_fleur/workflows/banddos.py
Due: pylint

Use get_structuredata_ncf in banddos workchain
  aiida_fleur/workflows/banddos.py
Due: pylint

Try setting the AIIDA_PATH variable in tests more explicitly
  tests/run.sh
  tests/run_all.sh
  tests/run_all_cov.sh
  tests/run_all_cov_show.sh
Due: none

Fix setting of settings in _handle_not_enough_memory
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Fix test of _handle_not_enough_memory
  tests/workflows/test_base_fleur_workchain.py
Due: pylint

Formatting fixes
  tests/workflows/test_base_fleur_workchain.py
Due: pylint

Add kmesh_force_theorem parameter to DMI and SSDisp
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Try to fix extraction of energies in DMI workchain
  aiida_fleur/workflows/dmi.py
Due: pylint

Update masci-tools requirement
  setup.json
Due: version-number

Fix deprecations coming from masci-tools
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/io_routines.py
  tests/conftest.py
  tests/parsers/test_fleur_parser.py
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
  tests/tools/test_extract_corelevels.py
Due: pylint

Correct post-processing of energies in DMI workchain
  aiida_fleur/workflows/dmi.py
Due: pylint

Try making the dmi test run with the current output
  aiida_fleur/workflows/dmi.py
  tests/workflows/test_dmi_workchain.py
Due: pylint

Correct directory structure
  .github/workflows/ci.yml
Due: none

fix for last commit
  .github/workflows/ci.yml
Due: none

Try reactivating regression tests on aiida-fleur CI
  .github/workflows/ci.yml
  tests/files/inpxml/Si/inp.xml
Due: none

fix last commit
  .github/workflows/ci.yml
Due: none

Add bokeh to ci installation to also peform these tests
  .github/workflows/ci.yml
Due: none

Skip dmi workchain test as long as the relevant bugfix from masci-tools is not released
  tests/workflows/test_dmi_workchain.py
Due: pylint

Update calculation/calculations
  tests/calculation/calculations/mock-fleur-33ff6cb62aeeb095b516e6ef54964e3d/out.xml
  tests/calculation/calculations/mock-fleur-33ff6cb62aeeb095b516e6ef54964e3d/shell.out
  tests/calculation/calculations/mock-inpgen-b5ddeb534f211c322733cde3fd783973/profile.config
  tests/calculation/calculations/mock-inpgen-b5ddeb534f211c322733cde3fd783973/shell.out
Due: none

Update workflow caches
  tests/workflows/caches/fleur_band_fleurinp_Si.tar.gz
  tests/workflows/caches/fleur_band_fleurinp_Si_ase.tar.gz
  tests/workflows/caches/fleur_band_fleurinp_Si_seek.tar.gz
  tests/workflows/caches/fleur_dmi_FePt.tar.gz
  tests/workflows/caches/fleur_dos_fleurinp_Si.tar.gz
  tests/workflows/caches/fleur_eos_si_structure.tar.gz
  tests/workflows/caches/fleur_mae_FePt.tar.gz
  tests/workflows/caches/fleur_relax_fleurinp_Si.tar.gz
  tests/workflows/caches/fleur_scf_fleurinp_Si.tar.gz
  tests/workflows/caches/fleur_scf_fleurinp_Si_mod.tar.gz
  tests/workflows/caches/fleur_scf_structure_Si.tar.gz
  tests/workflows/caches/fleur_ssdisp_FePt.tar.gz
Due: none

Skip regression tests for aiida 2.0 for now since the export_cache fixture is not compatible with the new archive format
  tests/conftest.py
Due: pylint

Break symmetry reference DMI
  aiida_fleur/workflows/dmi.py
Due: pylint

Fix code style
  aiida_fleur/workflows/dmi.py
Due: pylint

Add normalize_kind_name to Fleurinp
  aiida_fleur/data/fleurinp.py
Due: pylint

Fix requirements
  setup.json
Due: version-number

Correct variable name
  aiida_fleur/workflows/dmi.py
Due: pylint

Correct type of default value in `get_structuredata`
  aiida_fleur/data/fleurinp.py
Due: pylint

Update DMI regression test data
  tests/workflows/caches/fleur_dmi_FePt.tar.gz
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/inp.xml
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/out.error
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/out.xml
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/shell.out
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/inp.xml
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/out.error
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/out.xml
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/shell.out
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/aiida.in
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/default.econfig
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/inp.xml
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/out
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/out.error
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/profile.config
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/scratch
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/shell.out
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/struct.xsf
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/usage.json
Due: none

Format fixes
  tests/workflows/calculations/mock-fleur-2067621195a2ffd1f0dcabf6179a3140/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-9b466bb42d5419c9b77b8a5146c86d11/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/profile.config
  tests/workflows/calculations/mock-inpgen-02ba162cc86a44685981f802a12360c1/struct.xsf
Due: none

Add possibilty to use symmetries for the reference
  aiida_fleur/workflows/mae.py
Due: pylint

Fix delete_tag call in MAE
  aiida_fleur/workflows/mae.py
Due: pylint

Add more files to ignore_files
  tests/conftest.py
Due: pylint

Add parsing of H_so in DMI WorkChain
  aiida_fleur/workflows/dmi.py
Due: pylint

Initialise h_so DMI WorkChain
  aiida_fleur/workflows/dmi.py
Due: pylint

Depricate evsum DMI WorkChain
  aiida_fleur/workflows/dmi.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
