Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: local
  hooks:

  - id: pylint
    name: pylint
    entry: pylint
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_fleur/__init__.py
      )$
    pass_filenames: false

Perist Kind/Species information through relaxation
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/relax.py
Due: pylint

Add first implementation of node generators
  aiida_fleur/cmdline/workflows/__init__.py
  aiida_fleur/common/defaults.py
  aiida_fleur/common/node_generators.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/create_magnetic_film.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/eos.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/optimize_para.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
  setup.json
Due: pylint, version-number

Precommit changes
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/relax.py
  tests/cmdline/visualization/test_plot.py
  tests/parsers/test_fleur_parser.py
Due: pylint

Migrate to aiida-core 1.5.0, fixed tests
  tests/cmdline/conftest.py
  tests/cmdline/visualization/test_plot.py
  tests/cmdline/workflows/test_worklow_cmd.py
Due: pylint

Fix create_slab test
  tests/tools/test_StructureData_util.py
Due: pylint

Second attempt to fix create slap test
  tests/tools/test_StructureData_util.py
Due: pylint

Make CI stay on ubuntu 18.04 for now, since 20.04 causes problems
  .github/workflows/ci.yml
Due: none

Increase parser and relax wc version
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/relax.py
Due: pylint

Persist Kind/Species information through relaxation wc (#102)
  .github/workflows/ci.yml
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/relax.py
  tests/files/outxml/all_test/Fe_relax_out.xml
  tests/files/relaxxml/Fe_relax.xml
  tests/parsers/test_fleur_parser.py
  tests/tools/test_StructureData_util.py
Due: pylint

Change parser version in parser tests
  tests/parsers/test_fleur_parser.py
Due: pylint

Update ci.yml
  .github/workflows/ci.yml
Due: none

Delete old, non-used get_scheduler_extras function.
  aiida_fleur/tools/common_fleur_wf.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Add tests for common_fleur_wf and utils
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/tools/common_fleur_wf_util.py
  aiida_fleur/tools/xml_util.py
  tests/tools/test_common_fleur_wf.py
  tests/tools/test_common_fleur_wf_util.py
Due: pylint

Add tests for merge_parameter, atoms lists
  aiida_fleur/tools/merge_parameter.py
  tests/tools/test_merge_parameter.py
Due: pylint

Implement relax type None in relax wc, which will skip relaxation
  aiida_fleur/workflows/relax.py
Due: pylint

Move set_kpoints of fleurinp to fleurimpmodifier
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  tests/data/test_fleurinp.py
  tests/data/test_fleurinpmodifier.py
Due: pylint

Update 0.33 schema to MaXR5 release
  aiida_fleur/fleur_schema/input/0.33/FleurInputSchema.xsd
Due: none

Adjust parsers to fleur MaXR5 and add test out.xml file
  aiida_fleur/parsers/fleur.py
  aiida_fleur/parsers/fleur_inputgen.py
  aiida_fleur/tools/common_fleur_wf.py
  tests/files/outxml/all_test/fleur_32_out.xml
Due: pylint

Add significant figures to inpgen settings
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/scf.py
Due: pylint

Fix docs build
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  docs/source/user_guide/data/fleurinp_data.rst
Due: pylint

Make regression comparisson work for out.xml files, also inpgen on CI
  tests/parsers/test_fleur_parser.py
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
  tests/parsers/test_inpgen_parser.py
  tests/parsers/test_inpgen_parser/test_inpgen_parser_default.yml
Due: pylint

Add more tests for create corehole and read_cif_folder
  aiida_fleur/tools/create_corehole.py
  aiida_fleur/tools/read_cif_folder.py
  tests/old_todo/data/fleurinpmodifier/btest_fleurinpmodifier_py.back
  tests/old_todo/util/36.dot
  tests/old_todo/util/btest_create_corehole_py.back
  tests/old_todo/util/btest_read_cif_folder.py
  tests/tools/test_create_corehole.py
  tests/tools/test_create_corehole/test_create_corehole_para.yml
  tests/tools/test_io_routines.py
  tests/tools/test_read_cif_folder.py
Due: pylint

Fleurinputgen allows position names longer then 4 chars now.
  aiida_fleur/calculation/fleurinputgen.py
Due: pylint

SCF workchain now checks on code extras for some default options
  aiida_fleur/workflows/scf.py
Due: pylint

Refactor break_symmetry so far the structure breaking works
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/tools/create_corehole.py
  aiida_fleur/workflows/scf.py
  tests/common/__initi__.py
  tests/common/test_node_generators.py
  tests/tools/test_StructureData_util.py
  tests/tools/test_StructureData_util/test_break_symmetry_bulk.yml
  tests/tools/test_create_corehole/test_create_corehole_para.yml
Due: pylint

Add break symmetry tests for parameterdata changes
  aiida_fleur/tools/StructureData_util.py
  tests/tools/test_StructureData_util.py
Due: pylint

Prepare Changelog for release
  CHANGELOG.md
  setup.json
Due: version-number

Per default do not extract charge from fleurinp,
  aiida_fleur/tools/xml_util.py
  setup.json
Due: pylint, version-number

add bash script for manual regression tests with base export
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/JUDFT_WARN_ONLY
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/_scheduler-stderr.txt
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/_scheduler-stdout.txt
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/inp.xml
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/out.error
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/shell.out
  tests/files/exports/base_export_regression_tests.tar.gz
  tests/workflows_regression_manually.sh
Due: none

Bugfix in fleurinputgenCalculation, which was introduced in previous commits
  aiida_fleur/calculation/fleurinputgen.py
Due: pylint

First try to fix corehole workchain again, kind names need to be persisted
  aiida_fleur/tools/StructureData_util.py
  tests/tools/test_StructureData_util.py
Due: pylint

Make super and raise from right for python3
  aiida_fleur/calculation/fleur.py
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/parsers/fleur_inputgen.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/base_fleur.py
  aiida_fleur/workflows/base_relax.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/create_magnetic_film.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/dos.py
  aiida_fleur/workflows/eos.py
  aiida_fleur/workflows/initial_cls.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/optimize_para.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
  setup.json
  tests/calculation/data_dir/mock-fleur-88edcca7024f2f2c75ac80044aa80644/JUDFT_WARN_ONLY
  tests/conftest.py
Due: pylint, version-number

Add on to previous commit for raise from
  aiida_fleur/common/mapping.py
  aiida_fleur/common/workchain/base/restart.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/tools/xml_util.py
Due: pylint

Remove tests and larger files from release wheel
  MANIFEST.in
Due: none

Add BM test for eos, add X element
  aiida_fleur/tools/element_econfig_list.py
  aiida_fleur/workflows/eos.py
  tests/workflows/test_eos_workchain.py
Due: pylint

Add switch to options to not optimize resources
  aiida_fleur/workflows/base_fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

Make eos test only sensible to 8 digits
  tests/workflows/test_eos_workchain.py
Due: pylint

Initilize context variables in relax, workchain, to avoid errors
  aiida_fleur/workflows/relax.py
Due: pylint

Cleanup example folder, delete old, and tutorials
  examples/README.md
  examples/old_workflowtests/__init__.py
  examples/old_workflowtests/old/__init__.py
  examples/old_workflowtests/old/test_band.py
  examples/old_workflowtests/old/test_dos.py
  examples/old_workflowtests/old/test_eos.py
  examples/old_workflowtests/old/test_eos_old.py
  examples/old_workflowtests/old/test_relaxation.py
  examples/old_workflowtests/old/test_scf.py
  examples/old_workflowtests/old/test_scf2.py
  examples/old_workflowtests/test_inital_state.py
  examples/old_workflowtests/test_run_scf2.py
  examples/old_workflowtests/test_submit_inpgen.py
  examples/tutorial/workflows/tutorial_submit_dos.py
  examples/tutorial/workflows/tutorial_submit_eos.py
  examples/tutorial/workflows/tutorial_submit_scf.py
Due: none
