Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Fix labels of eos calculations the dots of the floating points break the labels
  aiida_fleur/workflows/eos.py
Due: pylint

Add test for adding the profile correctly
  tests/calculation/test_inpgen.py
Due: pylint

Start adding more concrete support for profile option in inpgen
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/parsers/fleur_inputgen.py
  tests/parsers/fixtures/inpgen/unknown_profile/inp.xml
  tests/parsers/fixtures/inpgen/unknown_profile/out
  tests/parsers/fixtures/inpgen/unknown_profile/out.error
  tests/parsers/fixtures/inpgen/unknown_profile/shell.out
  tests/parsers/test_inpgen_parser.py
Due: pylint

pre-commit
  aiida_fleur/parsers/fleur_inputgen.py
Due: pylint

Add warning about conflicts between provided inpgen profile and parameters
  aiida_fleur/calculation/fleurinputgen.py
  tests/calculation/test_inpgen.py
Due: pylint

Add skeleton for CFCoeffworkchain docs
  docs/source/user_guide/workflows/cfcoeff.rst
  docs/source/user_guide/workflows/code/cfcoeff_parameters.py
  docs/source/user_guide/workflows/wc_index.rst
Due: none

Correct label
  docs/source/user_guide/workflows/cfcoeff.rst
Due: none

File had wrong filename
  docs/source/user_guide/workflows/cfcoeff_wc.rst
Due: none

correct math directive
  docs/source/user_guide/workflows/cfcoeff_wc.rst
Due: none

Add missing automodule
  docs/source/module_guide/code.rst
Due: none

Fix pylint warning
  aiida_fleur/workflows/initial_cls.py
Due: pylint

And another one
  aiida_fleur/workflows/initial_cls.py
Due: pylint

Add basic regression test for cfcoeff workchain
  tests/conftest.py
  tests/workflows/test_cfcoeff_workchain.py
Due: pylint

Fix unit conversion in DMI workchain
  aiida_fleur/workflows/dmi.py
Due: pylint

Correct positions
  tests/conftest.py
Due: pylint

Update lxml dependency to the same as masci-tools to make sure that it is installed
  setup.json
Due: version-number

Add test data for first cfcoeff test and add another
  tests/workflows/caches/fleur_cfcoeff_smco5_structure_no_analogue.tar.gz
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/CFdata.hdf
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/inp.xml
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/out.error
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/out.xml
  tests/workflows/calculations/mock-fleur-1f7ccc3a57103009e0066306058c0f67/shell.out
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/inp.xml
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/out.error
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/out.xml
  tests/workflows/calculations/mock-fleur-2284e8a830a78e2e9b77dbfc22a0a84d/shell.out
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/inp.xml
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/out.error
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/out.xml
  tests/workflows/calculations/mock-fleur-96186aa46090c3a88cd7770471eaf020/shell.out
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/_scheduler-stderr.txt
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/_scheduler-stdout.txt
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/aiida.in
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/inp.xml
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/out
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/out.error
  tests/workflows/calculations/mock-inpgen-93acdf59cd151909291077d23807a6ff/shell.out
  tests/workflows/test_cfcoeff_workchain.py
Due: pylint

Correct tested entry for DMI workchain (values need to be updated)
  tests/workflows/test_dmi_workchain.py
Due: pylint

Correct tested values
  tests/workflows/test_cfcoeff_workchain.py
  tests/workflows/test_dmi_workchain.py
Due: pylint

Fix node serialisation in FleurinpModifier for `set_file`
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Add test data for second cfcoeff test
  tests/workflows/caches/fleur_cfcoeff_smco5_structure_analogue.tar.gz
  tests/workflows/caches/fleur_dmi_FePt.tar.gz
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/inp.xml
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/out.error
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/out.xml
  tests/workflows/calculations/mock-fleur-37108329e4738cc3958c29995fa7e275/shell.out
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/CFdata.hdf
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/inp.xml
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/out.error
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/out.xml
  tests/workflows/calculations/mock-fleur-68e14120cfcc656374b0e6d5ad191e2e/shell.out
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/inp.xml
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/out.error
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/out.xml
  tests/workflows/calculations/mock-fleur-f3add5a163c1ea88d496670714bf71f3/shell.out
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/_scheduler-stderr.txt
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/_scheduler-stdout.txt
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/aiida.in
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/inp.xml
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/out
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/out.error
  tests/workflows/calculations/mock-inpgen-fe09c5d1cb1a73ec90260b3d8b357f75/shell.out
  tests/workflows/test_cfcoeff_workchain.py
Due: pylint

Update cache for first cfcoeff test
  tests/workflows/caches/fleur_cfcoeff_smco5_structure_no_analogue.tar.gz
Due: none

Update masci-tools requirement
  setup.json
Due: version-number

Regenerate test files
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
  tests/tools/test_plot_fleur/bokeh-1.4.0/test_plot_fleur_multiple_eos_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-1.4.0/test_plot_fleur_multiple_scf_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-1.4.0/test_plot_fleur_single_eos_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-1.4.0/test_plot_fleur_single_scf_wc_bokeh.yml
Due: none

Generate test files for newer bokeh version
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_multiple_eos_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_multiple_scf_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_single_eos_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_single_scf_wc_bokeh.yml
Due: none

Fix in plotting function for orbcontrol workchain
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Fix wrong input variable name for straight mixing in SCF workchain
  aiida_fleur/workflows/scf.py
Due: pylint

Correct log calls for creating fleurinp from remote data
  aiida_fleur/workflows/orbcontrol.py
  aiida_fleur/workflows/scf.py
Due: pylint

Prepare setup.json for new release
  aiida_fleur/__init__.py
  setup.json
Due: pylint, version-number

Add changelog entry
  CHANGELOG.md
Due: none

Raise masci-tools requirement to make sure that bugfixes are included
  setup.json
Due: version-number

Add another entry
  CHANGELOG.md
Due: none

Add function to convert a given FleurinpData node between versions Uses the inpxml converter from masci-tools
  aiida_fleur/data/fleurinp.py
Due: pylint

Add test for convert_inpxml function
  aiida_fleur/data/fleurinp.py
  tests/data/test_fleurinp.py
Due: pylint

Update FleurinpData version
  aiida_fleur/data/fleurinp.py
Due: pylint

Revert "Update FleurinpData version"
  aiida_fleur/data/fleurinp.py
Due: pylint

Add basic regression test for OrbControl workchain
  tests/workflows/test_orbcontrol_workchain.py
Due: pylint

fix wrong test name
  tests/workflows/test_orbcontrol_workchain.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
