Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: local
  hooks:

  - id: pylint
    name: pylint
    entry: pylint
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_fleur/__init__.py
      )$
    pass_filenames: false

Correct file ignore to also ignore mixing_history in serial mode
  tests/conftest.py
  tests/workflows/calculations/mock-fleur-1c30a846a65b8818922083f20fda9a73/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-1c30a846a65b8818922083f20fda9a73/mixing_history
  tests/workflows/calculations/mock-fleur-1c30a846a65b8818922083f20fda9a73/n_mmp_mat
  tests/workflows/calculations/mock-fleur-2dd0c658fa3a19d7d42e977212055082/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-2dd0c658fa3a19d7d42e977212055082/mixing_history
  tests/workflows/calculations/mock-fleur-2dd0c658fa3a19d7d42e977212055082/n_mmp_mat
  tests/workflows/calculations/mock-fleur-5243211b7b7003c42f93864019b6dbc3/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-55021122b3b7827d07b76ffc693a18f6/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-55021122b3b7827d07b76ffc693a18f6/mixing_history
  tests/workflows/calculations/mock-fleur-55021122b3b7827d07b76ffc693a18f6/n_mmp_mat
  tests/workflows/calculations/mock-fleur-5ab55aec5bba95be356905ef8a33a966/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-5ab55aec5bba95be356905ef8a33a966/mixing_history
  tests/workflows/calculations/mock-fleur-5c293ca47a59a3490ccb4c0b48b84098/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-5c293ca47a59a3490ccb4c0b48b84098/mixing_history
  tests/workflows/calculations/mock-fleur-5c293ca47a59a3490ccb4c0b48b84098/n_mmp_mat
  tests/workflows/calculations/mock-fleur-635773b96eec7d67b184db11c9286b43/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-635773b96eec7d67b184db11c9286b43/mixing_history
  tests/workflows/calculations/mock-fleur-6a4e43443fe3c34be2297e6e849faf90/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-7670155ee8f3a048687ac096db50d136/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-7670155ee8f3a048687ac096db50d136/mixing_history
  tests/workflows/calculations/mock-fleur-9e02b1aa70fbc992358c12e2d5f65391/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-9e02b1aa70fbc992358c12e2d5f65391/mixing_history
  tests/workflows/calculations/mock-fleur-9e02b1aa70fbc992358c12e2d5f65391/n_mmp_mat
  tests/workflows/calculations/mock-fleur-a773515e8c25e49d9fabe4f2e41906cc/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-b162f3f42634b142bc24232115f4ff25/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-c286c33d96fbabd960d405912d77f0ce/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-c286c33d96fbabd960d405912d77f0ce/mixing_history
  tests/workflows/calculations/mock-fleur-c35c084f5358bcf312ae864c02c3204b/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-dedfc4761c6e27ec67feb9185daa7588/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-dedfc4761c6e27ec67feb9185daa7588/mixing_history
  tests/workflows/calculations/mock-fleur-dedfc4761c6e27ec67feb9185daa7588/n_mmp_mat
  tests/workflows/calculations/mock-fleur-dee827693cb26506cb54c1d7219e8e70/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-e00358a437b49ca5341f9af99a3b3365/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-e00358a437b49ca5341f9af99a3b3365/mixing_history
  tests/workflows/calculations/mock-fleur-fc6e4ad278cc95750c141996573ac1c8/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-fc6e4ad278cc95750c141996573ac1c8/mixing_history
  tests/workflows/calculations/mock-fleur-fc6e4ad278cc95750c141996573ac1c8/n_mmp_mat
  tests/workflows/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/JUDFT_WARN_ONLY
  tests/workflows/test_orbcontrol_workchain.py
Due: pylint

Move calculation to right place
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/JUDFT_WARN_ONLY
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/_scheduler-stderr.txt
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/_scheduler-stdout.txt
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/inp.xml
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/n_mmp_mat_out
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/out.error
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/out.xml
  tests/workflows/calculations/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/shell.out
  tests/workflows/mock-fleur-31c1efa268a5b812a3f14e7455b3893a/mixing_history
Due: none

Fix masci-tools dependency constraint
  setup.json
Due: version-number

Add zenodo badge to README.md
  README.md
Due: none

Update .zenodo.json
  .zenodo.json
Due: none

Prepare bugfix release 1.3.1
  CHANGELOG.md
  aiida_fleur/__init__.py
  setup.json
Due: pylint, version-number

Try fixing new failure of aiida-core develop tests
  aiida_fleur/data/fleurinp.py
Due: pylint

Correct condition for the case that all calculations failed in orbcontrol workchain
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Add add_comp_para input to wf_parameters for orbcontrol workchain
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Make plot_fleur more robust
  aiida_fleur/tools/plot/fleur.py
  tests/cmdline/conftest.py
  tests/conftest.py
  tests/tools/test_plot_fleur.py
  tests/tools/test_plot_fleur/test_plot_fleur_single_orbcontrol_wc_matplotlib.png
Due: pylint

Correct size_func argument to orbcontrol plot function
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Fix bug in FleurinpModifier when used with multiple modifications directly setting/deleting files on the FleurinpData instance
  aiida_fleur/data/fleurinpmodifier.py
  tests/data/test_fleurinpmodifier.py
Due: pylint

Raise masci-tools requirement and remove deprecations
  aiida_fleur/data/fleurinp.py
  aiida_fleur/tools/io_routines.py
  setup.json
Due: pylint, version-number

Fixes #117 Allow using replace_tag/create_tag in FleurinpModifier.freeze() with etree._Element
  aiida_fleur/data/fleurinpmodifier.py
  docs/source/user_guide/data/fleurinp_modifier.rst
  tests/data/test_fleurinpmodifier.py
Due: pylint

Remove debug prints
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Add the converged density matrix file to the output of the orbcontrol workchain
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Add filename to singlefileData output
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Adjust test setup
  .github/workflows/ci.yml
Due: none

fix for last commit
  .github/workflows/ci.yml
Due: none

Bugfix in FleurinpModifier.set_file
  aiida_fleur/data/fleurinpmodifier.py
  tests/data/test_fleurinpmodifier.py
Due: pylint

Another fix for fleurinp file modification methods
  aiida_fleur/data/fleurinpmodifier.py
  tests/data/test_fleurinpmodifier.py
Due: pylint

Lift aiida version number and set versin to 2.0.0a0
  aiida_fleur/__init__.py
  setup.json
Due: pylint, version-number

Remove sqlalchemy constraint
  setup.json
Due: version-number

Update compatibility matrix to show the current compatibility with FLEUR and include entry for future 2.0 release
  README.md
Due: none

Add missing parameters to calcfunctions on FleurinpData
  aiida_fleur/data/fleurinp.py
Due: pylint

Disable atom id writing for eos workflow
  aiida_fleur/workflows/eos.py
Due: pylint

BandDOS: Add automatic adjustments of numbands to reach given energy ...
  aiida_fleur/workflows/banddos.py
Due: pylint

Fix wrong name
  aiida_fleur/workflows/banddos.py
Due: pylint

pylint fixes
  aiida_fleur/tools/common_fleur_wf_util.py
  pyproject.toml
Due: pylint

Move location of adding `inpxml_changes` in orbcontrol so that the spin dimension of the density matrix can be controlled consistently
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Switch aiida intersphinx mapping to 1.6 docs
  docs/source/conf.py
Due: none

Take the lowest converged calcuation as the groundstate and add warnings to the output dictionary for the lower non-converged calculations
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Fix handling of non-converged minimum energy in orbcontrol workchain
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Fix some deprecation warnings in tests
  aiida_fleur/workflows/cfcoeff.py
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

Update masci-tools to version `0.11.2`
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/workflows/banddos.py
  setup.json
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_multiple_eos_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_multiple_scf_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_single_eos_wc_bokeh.yml
  tests/tools/test_plot_fleur/bokeh-2.4.2/test_plot_fleur_single_scf_wc_bokeh.yml
Due: pylint, version-number

More cleanup
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/common_aiida.py
  aiida_fleur/tools/element_econfig_list.py
  aiida_fleur/tools/io_routines.py
  pyproject.toml
  setup.py
  tests/cmdline/visualization/test_plot.py
  tests/conftest.py
  tests/parsers/test_fleur_parser.py
  tests/tools/test_common_aiida.py
  tests/tools/test_io_routines.py
  utils/validate_version_consistency.py
Due: pylint, version-number

More miscelleanous cleanup
  aiida_fleur/calculation/fleur.py
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/base_fleur.py
  aiida_fleur/workflows/base_relax.py
  aiida_fleur/workflows/cfcoeff.py
  aiida_fleur/workflows/create_magnetic_film.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/orbcontrol.py
  aiida_fleur/workflows/relax.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp_conv.py
  setup.py
  tests/conftest.py
Due: pylint
