Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Remove six in io_routines and dict_util
  AUTHORS.txt
  README.md
  aiida_fleur/tools/dict_util.py
  aiida_fleur/tools/io_routines.py
Due: pylint

Prepare for 1.2.0 release
  CHANGELOG.md
  aiida_fleur/__init__.py
  setup.json
Due: pylint, version-number

Add basic tests for FleurStrainWorkChain
  setup.json
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
Due: pylint, version-number

Fixes for FleurBandDosWorkchains Add some error messages to prevent kpoint paths being used for DOS calculations And do not switch the kpoint set by default for DOS calculations
  aiida_fleur/workflows/banddos.py
Due: pylint

Add retrieval of greensf.hdf file for calculations with Green's functions (mode for this was added in masci-tools 0.4.8)
  aiida_fleur/calculation/fleur.py
Due: pylint

Add documentation for CLI, depend on sphinx-click
  docs/README.rst
  docs/source/conf.py
  docs/source/module_guide/code.rst
  docs/source/module_guide/tools.rst
  docs/source/user_guide/cmd/cmd_index.rst
  setup.json
Due: version-number

Update docs, realign side navigator for workchains
  docs/source/devel_guide/dg_index.rst
  docs/source/user_guide/getting_started/getting_started.rst
  docs/source/user_guide/hints/exit_codes.rst
  docs/source/user_guide/hints/hints_faq.rst
  docs/source/user_guide/tools/tools_index.rst
  docs/source/user_guide/tutorials/tutorials.rst
  docs/source/user_guide/workflows/corehole_wc.rst
  docs/source/user_guide/workflows/initial_cls_wc.rst
  docs/source/user_guide/workflows/wc_index.rst
Due: none

Add version print to CLI
  aiida_fleur/cmdline/__init__.py
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/util/options.py
  docs/Makefile
  docs/source/conf.py
Due: pylint

Add difflib to cmdline, correct version option
  aiida_fleur/cmdline/__init__.py
  aiida_fleur/cmdline/launch/launch.py
  aiida_fleur/cmdline/util/options.py
Due: pylint

Docs ignore aiida warnings
  docs/source/conf.py
Due: none

Update rtd requirements, and exceptions to ignore in docs build
  docs/requirements_for_rtd.txt
  docs/source/conf.py
  docs/source/nitpick-exceptions
Due: none

Fix bug in cmd_root name of CLI
  aiida_fleur/cmdline/__init__.py
Due: pylint

Revert use off difflib for CLI, because sphinx-click problems in CI
  aiida_fleur/cmdline/__init__.py
Due: pylint

Docs cleanup, delete two old unused file
  docs/code.rst
  docs/source/b_index.rstb
Due: none

Fix docs CI
  .github/workflows/ci.yml
Due: none

Fixes for banddos workchain. change_fleurinp should not raise errors, instead error codes should be returned
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/scf.py
  setup.json
Due: pylint, version-number

Update docs for FleurBandDosWorkchain
  docs/source/conf.py
  docs/source/user_guide/hints/exit_codes.rst
  docs/source/user_guide/workflows/code/banddos_parameters.py
  docs/source/user_guide/workflows/code/banddos_submission.py
  docs/source/user_guide/workflows/dos_band_wc.rst
Due: none

pre-commit fix
  docs/source/user_guide/workflows/code/banddos_parameters.py
Due: none

Update convergence image on docs front page.
  docs/source/images/convergence_all_MP_metals.png
  docs/source/images/convergence_all_MP_metals1.png
  docs/source/index.rst
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add reentry scan to conf.py of the docs for the read the docs build
  docs/source/conf.py
Due: none

Create .readthedocs.yml
  .readthedocs.yml
Due: none

Update requirements_for_rtd.txt
  docs/requirements_for_rtd.txt
Due: none

Correct wrong add from previous commit
  docs/requirements_for_rtd_aiida.txt
Due: none

Fix wrong conditional statement
  aiida_fleur/parsers/fleur.py
Due: pylint

Add directions parameter for surface generation
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/create_magnetic_film.py
  docs/source/user_guide/workflows/code/create_magnetic_parameters.py
  docs/source/user_guide/workflows/code/create_magnetic_submission.py
  docs/source/user_guide/workflows/create_magnetic_wc.rst
  examples/submission/workflow_tests/test_submit_create_magnetic.py
  tests/cmdline/launch/test_launch.py
  tests/tools/test_StructureData_util.py
  tests/workflows/test_create_magnetic_workchain.py
Due: pylint

Initialise miller and directions parameters
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix bad formatting
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Another bad code style fix
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Improve interlayer distance adjustment
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Add paring of new species naming convention
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix bad code style
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Add a method simplifying kind names
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Change the way relax WC extracts final positions
  aiida_fleur/workflows/relax.py
Due: pylint

Add last_layer_factor parameter to CreateMagnetic
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/create_magnetic_film.py
  docs/source/user_guide/workflows/code/create_magnetic_parameters.py
Due: pylint

Add an exit code for failed film + preconditioner
  aiida_fleur/calculation/fleur.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/base_fleur.py
  docs/source/user_guide/calculations/fleurcode_plugin.rst
  docs/source/user_guide/hints/exit_codes.rst
Due: pylint

Revert "Add an exit code for failed film + preconditioner"
  aiida_fleur/calculation/fleur.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/base_fleur.py
  docs/source/user_guide/calculations/fleurcode_plugin.rst
  docs/source/user_guide/hints/exit_codes.rst
Due: pylint

Allow FleurinpData to work with files from the develop version of fleur, which have no corresponding schema in masci-tools. In this case a warning is thrown that unexpected errors can occur
  aiida_fleur/data/fleurinp.py
Due: pylint

Adjust default for `optimize_resources` in options for `FleurBaseWorkChain` (#129)
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Fix for options in `FleurBaseWorkChain`
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
