Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  args:
  - --config-file=pyproject.toml
  language: python
  require_serial: true
  pass_filenames: true

Bugfix
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Debug out
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

Remove out
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

Error outs
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Remove Kjappa
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Removed out
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fallback
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

Restructure
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

Another exception
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

Way nicer now
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

Rework also here
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix bokeh and matplotlib versions in ci moved latest versions into separate test
  .github/workflows/ci.yml
Due: none

Correct link label for banddos workflow
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Update README.md
  README.md
Due: none

Update readthedocs config
  .readthedocs.yml
Due: none

add to ignore
  tests/.aiida-testing-config.yml
Due: none

another fix for test
  tests/tools/test_StructureData_util.py
Due: pylint

Fix test
  tests/tools/test_StructureData_util.py
Due: pylint

fix pre-commit complaints
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/create_magnetic_film.py
Due: pylint

make tests more robust
  tests/.aiida-testing-config.yml
  tests/tools/test_common_fleur_wf.py
Due: pylint

Adjust tested aiida version Use newest release 2.3.0
  .github/workflows/ci.yml
Due: none

correct test names
  .github/workflows/ci.yml
Due: none

Add python 3.11 support
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Raise version number
  aiida_fleur/__init__.py
  pyproject.toml
Due: pylint

Update changelog
  CHANGELOG.md
Due: none

Update python-publish.yml
  .github/workflows/python-publish.yml
Due: none

Update badges in README
  README.md
Due: none

Add fleur specific magnetic structure data node
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/data/magnetic_structure.py
  pyproject.toml
  tests/calculation/test_inpgen.py
  tests/conftest.py
  tests/data/test_magnetic_structure.py
Due: pylint, mypy

Fix github CI python dependency installation
  .github/workflows/ci.yml
Due: none

Fix commandline to correctly work with changes in verdi in aiida-core 2.X
  aiida_fleur/cmdline/__init__.py
Due: pylint

Make sure the commandline works before the VerdiCommandGroup was added
  aiida_fleur/cmdline/__init__.py
Due: pylint

Add input port to SCF for providing options to inpgen overriding the options of the fleur code
  aiida_fleur/workflows/scf.py
Due: pylint

formatting
  tests/tools/test_StructureData_util.py
Due: pylint

Add `options_inpgen` input to SCF workchain (#211)
  aiida_fleur/workflows/scf.py
  tests/tools/test_StructureData_util.py
Due: pylint

Update fleur.py to adapt to new location of success message from FLEUR
  aiida_fleur/parsers/fleur.py
Due: pylint

Add missing "-kpt" option to the inpgen command line in fleurinputgen.py
  aiida_fleur/calculation/fleurinputgen.py
Due: pylint

CI: Switch from aiida-testing to aiida-test-cache
  .github/workflows/ci.yml
  tests/conftest.py
Due: pylint

test with aiida 2.6
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add FORCE_COLOR, simplify caches
  .github/workflows/ci.yml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  mypy: any of: (?x)^(
    aiida_fleur/data/.*py|
    aiida_fleur/tools/xml_aiida_modifiers.py|
)$ and \.py$
