Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Simplify test_and_get_codenode
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/banddos.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/dos.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/optimize_para.py
  aiida_fleur/workflows/orbcontrol.py
  aiida_fleur/workflows/scf.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/strain.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Remove one unnecessary usage of find_last_submitted_calcjob
  aiida_fleur/workflows/scf.py
Due: pylint

fixes for test_and_get_codenode
  aiida_fleur/tools/common_fleur_wf.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

even more cleanup
  aiida_fleur/cmdline/util/defaults.py
  aiida_fleur/tools/common_aiida.py
  aiida_fleur/tools/common_fleur_wf_util.py
  pyproject.toml
  setup.py
Due: pylint

Remove last scattered mentions of six
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/corehole.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/ssdisp.py
Due: pylint

Bugfix in not enough memory handler
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Deprecate `rel_to_abs`, `rel_to_abs_f`, `abs_to_rel` and `abs_to_rel_f`
  aiida_fleur/tools/StructureData_util.py
  examples/submission/calculation_tests/test_inpgen_complex.py
  tests/conftest.py
  tests/tools/test_StructureData_util.py
Due: pylint

Fix `spglib` deprecation warning
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix selection of groundstate_configuration in OrbControl
  aiida_fleur/workflows/orbcontrol.py
Due: pylint

FleurinpModifier: Allow construction of inpxml_changes more easily
  aiida_fleur/data/__init__.py
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  docs/source/nitpick-exceptions
  docs/source/user_guide/data/fleurinp_modifier.rst
  setup.json
  tests/data/test_fleurinpmodifier.py
Due: pylint, version-number

Remove accidentally readded file from examples folder
  examples/submission/calculation_tests/test_inpgen_complex.py
Due: none

Add section to FleurCalculation docs about parallelization
  docs/source/user_guide/calculations/fleurcode_plugin.rst
  docs/source/user_guide/workflows/scf_wc.rst
Due: none

Fix in scf workflow
  aiida_fleur/workflows/scf.py
Due: pylint

Fix
  aiida_fleur/workflows/scf.py
Due: pylint

Also run workflow regression tests on aiida 2.0
  .github/workflows/ci.yml
  tests/conftest.py
  tests/migrate_exports.py
Due: pylint

Add workflow running against masci-tools develop
  .github/workflows/ci.yml
Due: none

Update python version badges
  README.md
Due: none

Bugfix in _handle_time_limits When the calculation is finished in an error handler the results function has to be called to make sure the base fleur workchain exposes the last output_parameters
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Add conda-forge badge
  README.md
Due: none

Update to masci-tools 0.11.3
  .github/workflows/ci.yml
  setup.json
  tests/.aiida-testing-config.yml
  tests/parsers/test_inpgen_parser/test_inpgen_parser_default.yml
Due: version-number

Bugfix for calcfunction methods on FleurinpData
  aiida_fleur/data/fleurinp.py
Due: pylint

Adjust orbcontrol plot test to be independent of uuid of workchain node
  tests/tools/test_plot_fleur.py
Due: pylint

Remove accidentally left in calcfunction decorator
  aiida_fleur/data/fleurinp.py
Due: pylint

Switch to new branch on aiida-testing with more configuration
  .github/workflows/ci.yml
  tests/.aiida-testing-config.yml
  tests/workflows/test_banddos_workchain.py
Due: pylint

Cleanup path handling for `with_export_cache` fixture
  tests/workflows/test_cfcoeff_workchain.py
  tests/workflows/test_dmi_workchain.py
  tests/workflows/test_eos_workchain.py
  tests/workflows/test_mae_workchain.py
  tests/workflows/test_orbcontrol_workchain.py
  tests/workflows/test_relax_workchain.py
  tests/workflows/test_scf_workchain.py
Due: pylint

Missed one
  tests/workflows/test_ssdisp_workchain.py
Due: pylint

Fix deprecation warning
  tests/conftest.py
Due: pylint

Adjust test names
  .github/workflows/ci.yml
Due: none

Fix bug in relax workchain that occurred if no wf_parameters are set in the scf namespace
  aiida_fleur/workflows/relax.py
Due: pylint

Apply suggestions from code review
  aiida_fleur/workflows/relax.py
Due: pylint

Lift aiida version number and set versin to 2.0.0a0
  aiida_fleur/__init__.py
  setup.json
Due: pylint, version-number

Remove sqlalchemy constraint
  setup.json
Due: version-number

Install aiida and masci-tools in one step to make sure no conflicting versions of sqlalchemy are installed
  .github/workflows/ci.yml
Due: none

ignore importerror in docs if reentry is not installed
  docs/source/conf.py
Due: none

Try out running regression tests against the actual fleur executable
  .github/workflows/conda-code.yml
  tests/.aiida-testing-conda-config.yml
Due: none

fix syntax
  .github/workflows/conda-code.yml
Due: none

fix test matrix
  .github/workflows/conda-code.yml
Due: none

fix
  .github/workflows/conda-code.yml
Due: none

upload artifacts
  .github/workflows/conda-code.yml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
