Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Remove information on species in magnetic_slab_from_relaxed
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix removing kind specie info
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix previous commit
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Fix adding the same kind several times
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Make get_layer to loose all info on species
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Change the error message to suit the options
  aiida_fleur/workflows/scf.py
Due: pylint

There should be a better altKpointSet input option for gw
  aiida_fleur/tools/common_fleur_wf.py
Due: pylint

Adapt fleur_parser_tests
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
Due: none

Adapt inpgen parser
  tests/parsers/test_inpgen_parser/test_inpgen_parser_default.yml
Due: none

Adapt plotting module to masci-tools 0.4.1 version Some keyword arguments had to be changed and plotting routines now always take data for the x-coordinate first
  aiida_fleur/tools/plot/fleur.py
  setup.json
  tests/tools/test_plot_fleur.py
Due: pylint, version-number

Try to fix run commands in ci
  .github/workflows/ci.yml
Due: none

Add `python_requires` and relax `numpy` requirements
  setup.json
Due: version-number

Fix CI and correct the `setup.json`
  .github/workflows/ci.yml
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/create_magnetic_film.py
  aiida_fleur/workflows/dmi.py
  aiida_fleur/workflows/eos.py
  aiida_fleur/workflows/mae.py
  aiida_fleur/workflows/mae_conv.py
  aiida_fleur/workflows/ssdisp.py
  aiida_fleur/workflows/ssdisp_conv.py
  setup.json
  tests/tools/test_common_aiida.py
Due: pylint, version-number

Bump version for minor release v1.1.4
  CHANGELOG.md
  aiida_fleur/__init__.py
  setup.json
Due: pylint, version-number

pre-commit run
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/set_nmmpmat.py
  tests/tools/test_xml_util.py
Due: pylint

Fix typo in all_attrib_xpath dict
  aiida_fleur/tools/xml_util.py
Due: pylint

Update setup.json
  setup.json
Due: version-number

Add 0.34 InputSchema for Max5.1 release
  aiida_fleur/fleur_schema/input/0.34/FleurInputSchema.xsd
  aiida_fleur/fleur_schema/schemafile_index.py
Due: pylint

Bugfix for clear_xml
  aiida_fleur/tools/xml_util.py
Due: pylint

replace eval_xpath with eval_xpath2 for magnetic_moments parsing. Otherwise the result will not always be a list
  aiida_fleur/parsers/fleur.py
Due: pylint

Addition to clear_xml fixes. Add removal of possible multiple comments outside root
  aiida_fleur/tools/xml_util.py
Due: pylint

Fix code block in docstrings
  aiida_fleur/tools/xml_util.py
Due: pylint

Remove econfig extraction from get_parameterdata for now, since it is not yet correctly converted for use in the inpgen
  aiida_fleur/tools/xml_util.py
Due: pylint

Fix xpaths for Forcetheorem calculations with Max5.1
  aiida_fleur/parsers/fleur.py
Due: pylint

Add backwards compatibility for change in last commit
  aiida_fleur/parsers/fleur.py
Due: pylint

Fix a bug in magnetic_slab_from_relaxed
  aiida_fleur/tools/StructureData_util.py
Due: pylint

Add load_inpxml method to fleurinp to give easy access to the xml tree and schema dictionary
  aiida_fleur/data/fleurinp.py
  aiida_fleur/parsers/fleur.py
Due: pylint

Adapt to masci-tools version 0.4.3
  aiida_fleur/data/fleurinp.py
  aiida_fleur/data/fleurinpmodifier.py
  aiida_fleur/tools/xml_util.py
  setup.json
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
Due: pylint, version-number

Adapt SCFWorkchain to make use of the outxml_parserin masci-tools to access total energies, distances and forces
  aiida_fleur/workflows/scf.py
Due: pylint

Remove the use of sub_process_class #114
  aiida_fleur/workflows/eos.py
Due: pylint

Fix code formatting
  aiida_fleur/tools/StructureData_util.py
  aiida_fleur/workflows/scf.py
Due: pylint

Fix formatting
  aiida_fleur/workflows/scf.py
Due: pylint

Fix some bugs/pylint errors
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/cmdline/data/parameters.py
  aiida_fleur/data/fleurinp.py
Due: pylint

Rename changed keys in calculation output in common_fleur_wf
  aiida_fleur/tools/common_fleur_wf.py
Due: pylint

Adapt plot_fleur routines for DOS and bandstructure first make the text input work again. For the banddos.hdf we have to see, how much has to be changed to integrate the HDF5Reader from masci-tools
  aiida_fleur/calculation/fleurinputgen.py
  aiida_fleur/tools/plot/fleur.py
Due: pylint

Adjust test_performace_extract_calcs
  aiida_fleur/tools/common_fleur_wf.py
  tests/tools/test_common_fleur_wf.py
Due: pylint

Adapt to masci-tools 0.4.4
  aiida_fleur/data/fleurinp.py
  aiida_fleur/parsers/fleur.py
  aiida_fleur/tools/common_fleur_wf.py
  setup.json
  tests/parsers/test_fleur_parser.py
  tests/parsers/test_fleur_parser/test_fleur_parser_default_full.yml
  tests/parsers/test_fleur_parser/test_fleur_parser_relax.yml
Due: pylint, version-number

Make validation of out.xml files non-fatal in aiida-fleur, since the `-minimalOutput` option produces non-conforming out.xml files
  aiida_fleur/parsers/fleur.py
  aiida_fleur/workflows/scf.py
  tests/fleur_schema/__init__.py
  tests/fleur_schema/test_schema_files.py
Due: pylint

Also use load_inpxml in _set_inp_dict (We do not calulate the schema_dict two times this way through the magic of caching)
  aiida_fleur/data/fleurinp.py
Due: pylint

Simplify and deprecate get_tag method. The better and more flexible way is to use load_inpxml to get the xmltree and then extracting the needed information from there
  aiida_fleur/data/fleurinp.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)
  version-number: any of: (?x)^(
  setup.json|
  utils/validate_version_consistency.py|
  aiida_fleur/__init__.py
)$
