Repository JuDFTteam/aiida-fleur: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: double-quote-string-fixer
      types: [python]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      types: [python]
    - id: trailing-whitespace
      types: [python]

- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.30.0
  hooks:
  - id: yapf
    name: yapf
    types: [python]
    exclude: &exclude_files >
        (?x)^(
            docs/.*|
        )$
    args: ['-i']

- repo: local
  hooks:

  - id: pylint
    name: pylint
    entry: pylint
    types: [python]
    language: system
    exclude: '^(docs/)|(examples/)'

  - id: version-number
    name: Check version numbers
    entry: python ./utils/validate_version_consistency.py
    language: system
    files: >-
      (?x)^(
        setup.json|
        utils/validate_version_consistency.py|
        aiida_fleur/__init__.py
      )$
    pass_filenames: false

Add error if the code needs to be recompiled with libXC
  aiida_fleur/parsers/fleur.py
Due: pylint

Silence warning about casting complex to float in cf coeff workflow
  aiida_fleur/workflows/cfcoeff.py
Due: pylint

Add Fleur error message from `io/eig66_mpi` from not being able to allocate memory to phrases to detect out of memory errors
  aiida_fleur/parsers/fleur.py
Due: pylint

Add option to FleurBaseWorkChain to not allow 1 node 1 MPI per node parallelization
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/base_fleur.py
Due: pylint

Add test
  tests/tools/test_common_fleur_wf.py
  tests/workflows/test_base_fleur_workchain.py
Due: pylint

Add option to avoid 1 node 1 MPI per node parallelization (#189)
  aiida_fleur/tools/common_fleur_wf.py
  aiida_fleur/workflows/base_fleur.py
  tests/tools/test_common_fleur_wf.py
  tests/workflows/test_base_fleur_workchain.py
Due: pylint

Change attribute name of expert mode from `gw` to `spex`
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

Raise scf workflow version
  aiida_fleur/workflows/scf.py
Due: pylint

Support for SPEX (#190)
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

Move file logic for additional spex files into `FleurCalculation`
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

pre-commit fixes
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

Move SPEX file logic into `FleurCalculation` (#191)
  aiida_fleur/calculation/fleur.py
  aiida_fleur/workflows/scf.py
Due: pylint

Cleanup README. Move custom badge definitions to bottom add fleur badge
  README.md
Due: none

More cleanup in README
  README.md
Due: none

Correct file version compatibility
  README.md
Due: none

Readme: For Fleur badges use <= instead of <
  README.md
Due: none

Add output of results
  aiida_fleur/workflows/greensf.py
Due: pylint

Initial commit for Greens function workchain
  aiida_fleur/workflows/greensf.py
Due: pylint

Add entry point and barebones tests
  setup.json
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
Due: pylint, version-number

Improvements
  aiida_fleur/workflows/greensf.py
Due: pylint

remove empty file
  aiida_fleur/workflows/optimize_para.py
Due: pylint

fixes
  aiida_fleur/workflows/greensf.py
Due: pylint

followup
  aiida_fleur/workflows/greensf.py
Due: pylint

Add missing super call
  aiida_fleur/workflows/greensf.py
Due: pylint

Fix sorting keys
  aiida_fleur/workflows/greensf.py
Due: pylint

Add new commands for `fleurinp` group
  aiida_fleur/cmdline/data/fleurinp.py
  tests/cmdline/conftest.py
  tests/cmdline/data/test_fleurinp.py
  tests/cmdline/data/test_fleurinp/test_cmd_fleurinp_exctract_inpgen_output_file.txt
Due: pylint

Use new aiida-dataframe plugin for jij output
  aiida_fleur/workflows/greensf.py
  setup.json
Due: pylint, version-number

fix
  aiida_fleur/workflows/greensf.py
Due: pylint

Add workchain for calculating the DMI using green's functions
  aiida_fleur/workflows/greensf.py
  aiida_fleur/workflows/greensf_dmi.py
  setup.json
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
Due: pylint, version-number

fix entrypoint
  setup.json
Due: version-number

Check for existence before removing things for builder of next step
  aiida_fleur/workflows/relax.py
Due: pylint

Fix in FleurinpModifier for FleurinpData methods with an explicit kwargs argument
  aiida_fleur/data/fleurinpmodifier.py
Due: pylint

Add return_results
  aiida_fleur/workflows/hubbard1.py
Due: pylint

Initial commit for Hubbard1 workflow
  aiida_fleur/workflows/hubbard1.py
Due: pylint

Correct exception to catch missing output nodes
  aiida_fleur/workflows/hubbard1.py
Due: pylint

Correct workflowversion attribute name
  aiida_fleur/workflows/hubbard1.py
Due: pylint

fix typo
  aiida_fleur/workflows/hubbard1.py
Due: pylint

Add entry point
  setup.json
  tests/test_entrypoints.py
  tests/test_workflows_builder_init.py
Due: pylint, version-number

fix format
  tests/test_entrypoints.py
Due: pylint

Correct set_species change in hubbard1 wc
  aiida_fleur/workflows/hubbard1.py
Due: pylint
